POSTGRES_USER=retrotv
POSTGRES_PASSWORD=change_me
POSTGRES_DB=retrotv_db
POSTGRES_PORT=5433
POSTGRES_HOST=127.0.0.1

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_USER=retrotv
DATABASE_PASSWORD=change_me
DATABASE_NAME=retrotv_db

NODE_ENV=development
PORT=3000

YOUTUBE_API_KEY=XXXXXXXXXXXX

S3_ENDPOINT=XXXXXXXXXXXXXXX
S3_REGION=us-east-1
S3_BUCKET=retrotv
S3_ACCESS_KEY=XXXXXXXXXXXXXXXXX
S3_SECRET_KEY=XXXXXXXXXXXXXXXX
S3_URL_EXPIRES_IN=3600
